/* Menu nav styling */
nav a:visited {
  color: black;
}

nav .links a {
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: black;
}

header {
  top: 0;
  padding: 0px;
  gap: 20px;
  position: sticky;
  z-index: 2;
}

header nav ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  gap: 30px;
  overflow-x: auto;
  background-color: white;
  /* opacity: 50%; */
}

/* footer styling */
footer {
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: bold
  font-size: 1rem;
  display: flex;
  place-content: center;
  margin: 0rem;
  padding: 1rem;
}
