body {
  background-color: #c9c9bc;
  grid-template-columns: repeat(4, 1fr);
}

h1 {
  margin-top: 5%;
  margin-left: 6%;
}

video {
  margin-left: 40%;
  margin-top: 3%;
  max-width: 70%;
}

#first_section {
  grid-template-columns: repeat(4, 1fr);
}

#first_section .section_wrapper {
  display: grid;
  grid-column: 3/4;
}

img {
  margin-top: 20%;
  margin-left: 10%;
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 30%;
  width: 30%;
}

#second_section {
  grid-template-columns: repeat(4, 1fr);
}

#second_section .section_wrapper {
  display: grid;
  grid-column: 3/4;
}

/* 
.first_section {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
} */
