body {
  background-color: #c9c9bc;
}

h2 {
}

video {
}

.first_section {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
