/*Mobile first*/

/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/

img {
  width: 100%;
}

.brands {
  display: grid;
  place-items: cover;
  aspect-ratio: 1854 / 3522;
  padding-top: 1rem;
}

main {
  background-color: #c9c9bc;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: normal;
  color: aliceblue;
  margin-left: 34%;
  position: relative;
  top: 10px;
}

footer {
  text-align: center;
}

/*computer size*/

@media (min-width: 800px) {
  img {
    width: 90%;
    height: 90%;
    object-fit: center;
  }

  h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    font-style: normal;
    color: aliceblue;
    margin-left: 14.2%;
    position: relative;
    top: 67px;
  }

  .brands {
    display: grid;
    place-items: center;
    aspect-ratio: 1854 / 3522;
    width: 80%;
    margin-inline: auto;
    padding-bottom: 1rem;
  }
}
